body {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a.link {
    margin: .5em;
    font-size: 1.5em;
    text-decoration: none;
    color: blue;
}

a.link:hover {
    border-bottom: 3px solid blue;
}