input#search_value {
    width: 350px;
    height: 25px;
    font-size: 1em;
    padding: 5px;
    border: 2px solid #ccc;

}

input#search_value:focus {
    outline: none;
    background-color: #555;
    color: #fff;
}

.btn {
    display: inline-block;
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #000;
    user-select: none; /* cannot be highlighted */
    cursor: pointer;
}

/* .btn:active {background-color: rgb(247, 210, 0);} */

li.result {
    height: 70px;
    width: 250px;
    margin-bottom: 20px;
    line-height: 25px;
}

.title {font-weight: bold;}
.author {font-style: italic;}